<?xml version="1.0"?>
<configuration>

  <configSections>
    <!-- configuracion de la vista -->
    <section name="ViewConfig" type="Tenaris.View.Exit.Model.Configuration.ExitViewConfiguration, Tenaris.View.Exit.Model" />
    <!-- log de la vista -->
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />    
    <section name="Tamsa.Exit.Manager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <!--SECURITY: MODE CLIENT-->
    <section name="Tenaris.Library.Security" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <!--SECURITY: STAND ALONE-->
    <!--<section name="Tenaris.Library.Security" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework" />-->
    
  </configSections>


  <connectionStrings>
    <add name="DBMaster" connectionString="Application Name=ExitView;Data Source= 10.92.25.105;Initial Catalog=AusV1;User ID=Tesis;Password=Tesis01;Persist Security Info=True;MultipleActiveResultSets=True; Asynchronous Processing=true;"/>
    
  </connectionStrings>

  <Tamsa.Exit.Manager
    instanceType="Tamsa.Manager.Exit.Shared.IExitManager, Tamsa.Manager.Exit.Shared"
    aliveInterval="1000"
    singleInstance="true"
    validateConnection="true">
    <Redundancy>
      <Address url="tcp://127.0.0.1:20010/Tamsa.Manager.ExitManager.soap" forumPresent="false" isTargetManager="true"/>
      <!--<Address url="tcp://10.92.25.135:20010/Tamsa.Manager.ExitManager.soap" forumPresent="false" isTargetManager="true"/>-->
      <!--<Address url="tcp://172.29.130.115:20010/Tamsa.Manager.ExitManager.soap" forumPresent="false" isTargetManager="true"/>-->
      <!--<Address url="tcp://10.92.65.45:20010/Tamsa.Manager.ExitManager.soap" forumPresent="false" isTargetManager="true"/>-->
    </Redundancy>
  </Tamsa.Exit.Manager>



  <!-- configuracion de la vista -->
  <!--
    TO DO
    Agregar las variables de configuracion propias de la vista
    vease clase Tenaris.TemplateView.Model.Configuration.TemplateViewConfiguration
  -->
  <ViewConfig DskMgr="true"
                  Language="es-MX"
                  GridHeight="250"
                  DBConnection="DBMaster"
                  AreaCode="TMTbHT07"
                  ITPrintMachines="MTFH,MTF4,MTF1,MTEA"
                  SpecificationServer="10.92.25.135"  SpecificationPort="9026"
                  DynamicResourcesPath="Resource/BundleView"
                  ExitManagerSection="Tamsa.Exit.Manager"
                  IsActiveSinSeas="True"
                  DefaultGroupEECode="BUE"
                  DefaultEECode="30"
                  />
  
  <!--<ViewConfig DskMgr="false"
                Language="es-MX"
                GridHeight="250"
                DBConnection="DBMaster"
                AreaCode="All"
                SpecificationServer="10.92.65.45"  SpecificationPort="9026"
                DynamicResourcesPath="Resource/BundleView"
                ExitManagerSection="Tamsa.Exit.Manager"
                  />-->



  <!--SECURITY: MODE CLIENT-->
  <Tenaris.Library.Security
      url="tcp://10.92.25.71:8041/Tenaris.Service.Security.soap"
      instanceType="Tenaris.Service.Security.Shared.ISecurityService, Tenaris.Service.Security.Shared"
      aliveInterval="0"
      validateConnection="true"
      singleInstance="true"
      forumPresent="false"
      isTargetManager="false">
    <Redundancy>
    </Redundancy>
  </Tenaris.Library.Security>
  
   <!--Configuracion security modo stand alone-->
    
  <!--<Tenaris.Library.Security factoryType="Tenaris.Service.Security.FactoryLocal, Tenaris.Service.Security" isSingleton="true">
    <SecurityConfiguration ConnectionStringName="DBMaster" 
      AuthenticationType="Database" 
      DefaultZoneCode="All"/>
  </Tenaris.Library.Security>-->
  
   
  
  
  <!-- configuracion del log de la vista -->
  <log
    maxFileSize="8096"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
    logLevel="Debug"
    traceAttributeLogEnabled="true"
    logBaseName="TemplateView"
    additionalLogDestination="Console"
    logAssemblyLoad="false"
  />
  
  <!--
    Configuracion de remoting
    Usada para la comunicacion con manager
    Usada por la security
  -->
  <!--<system.runtime.remoting>
    <application name="Tenaris.Template">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>-->

  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
