<?xml version="1.0"?>
<configuration>

  <!-- esta seccion debe ser la primera antes de todo -->
  <configSections>

    <section name="TrackingManager"
             type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

    <section name="ManagerBaseConfiguration"
             type="Tenaris.Manager.Forum.Shared.Configuration.ManagerBaseConfiguration, Tenaris.Manager.Forum.Shared"/>
<!--
    <section name="Tenaris.Manager.Handshake.HandshakeManager" 
             type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>
-->
    <section name="Tenaris.Manager.Handshake.HandshakeManager" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

    <section name="CommandManager" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />

    <section name="Tenaris.Library.Proxy" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy"/>

    <section name="AcquisitionConfiguration" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

    <section name="DefaultStatusChangePlugin" type="Tenaris.Library.Framework.Factory.FactoryConfiguration, Tenaris.Library.Framework"/>

  </configSections>

  <connectionStrings>
    <add name="Level2" connectionString="Application Name=TrackingManager;Data Source=autmdbdev;Initial Catalog=ScSiz200;User ID=L2Appl;Password=L2Appl;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="Level2" connectionString="Application Name=TrackingManager;Data Source=10.121.114.106\sqlver1;Initial Catalog=Level2_CFTbWM3;User ID=sa;Password=Tenaris2012;" />-->
  </connectionStrings>

  <!-- Configuration used by factory to create the manager -->
  <TrackingManager
      factoryType="Tenaris.Manager.Tracking.TrackingManagerFactory, Tenaris.Manager.Tracking"
      isSingleton="True" >
    <TrackingManagerConfiguration handshakeExecutionTimeout="0" handshakeResultWriteTimeout="0" statusChangePluginSectionName="DefaultStatusChangePlugin"/>
  </TrackingManager>

  <DefaultStatusChangePlugin 
    factoryType="Tenaris.Manager.Tracking.Plugin.Shared.DefaultStatusChangePluginFactory, Tenaris.Manager.Tracking.Plugin.Shared" 
    isSingleton="True">
    <DefaultStatusChangePluginConfiguration DatabaseConnectionStringName="Level2"/>
  </DefaultStatusChangePlugin>

  <ManagerBaseConfiguration
    areaCode="PREMIUM"
    defaultConnectionStringName="Level2" />

  <Tenaris.Manager.Handshake.HandshakeManager factoryType="Tenaris.Manager.Handshake.HandshakeFactory, Tenaris.Manager.Handshake" isSingleton="True">
    <HandshakeManagerConfiguration
        HandshakeReturnsResultAndTriggerCopy="true"
        Testing="false"
        HandledDefinitionList="">
    </HandshakeManagerConfiguration>
  </Tenaris.Manager.Handshake.HandshakeManager>

<!--
  <Tenaris.Manager.Handshake.HandshakeManager
    url="tcp://10.41.186.46:9111/Tenaris.Manager.Handshake.HandshakeManager.soap"
    instanceType="Tenaris.Manager.Handshake.Shared.IHandshakeManager, Tenaris.Manager.Handshake.Shared"
    aliveInterval="5000" forumPresent="false" isTargetManager="true" singleInstance="true" validateConnection="false" />
-->
  <AcquisitionConfiguration factoryType="Tenaris.Library.IVisionClient.IVisionClientFactory, Tenaris.Library.IVisionClient">
    <IVisionClientConfiguration ConnectionStringName="" IVisionMode="IVisionRT" AliveCheckInterval="5000" SOAPReadInterval="2000"
	                              RetryCount="2" Timeout="5000" >
      <Servers>
        <Server ServerName="autmsystest1" />
      </Servers>
      <AutoSubscriptions>
        <AutoSubscription Pattern=".DB212."/>
      </AutoSubscriptions>
      <WriteOnlyReferences>
        <WriteOnly Pattern=".DB213."/>
      </WriteOnlyReferences>
    </IVisionClientConfiguration>
  </AcquisitionConfiguration>

  <!--Command manager configuration-->
  <CommandManager
    url="tcp://10.41.186.46:8010/Tenaris.Manager.Command.soap"
    instanceType="Tenaris.Manager.Command.Shared.ICommandManager, Tenaris.Manager.Command.Shared, Version=4.1.0.0, Culture=neutral, PublicKeyToken=85d881d6f906ae36"
    aliveInterval="5000" forumPresent="false" isTargetManager="true" singleInstance="true" validateConnection="false" />

  <!--Remoting configuration. This can be placed in a separate file named remoting.config-->
  <system.runtime.remoting>
    <application name="Server">
      <channels>
        <channel ref="tcp" port="9501" bindTo="10.41.186.126">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy"/>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>

  <log
    maxFileSize="8096"
    msgFormat="{Timestamp:HH:mm:ss.fff} ; {Level,-7} ; {ClassName} ; {Message} ; {MethodName}"
    logLevel="Message"
    traceAttributeLogEnabled="false"
    additionalLogDestination="Console"
    />

  <Tenaris.Library.Proxy factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy" >
          <Interval>1000</Interval>
        </Component>
      </Components>
      <EventListener type="Tenaris.Library.Proxy.EventListener, Tenaris.Library.Proxy"/>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.DirectMessageDispatcher, Tenaris.Library.Proxy"/>
    </Configuration>
  </Tenaris.Library.Proxy>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
