<?xml version="1.0"?>
<configuration>

  <configSections>
    
    <section name="ServiceConfiguration" type="Tamsa.Service.Specification.Configuration.ServiceConfiguration, Tamsa.Service.Specification"/>

    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    
  </configSections>

  <connectionStrings>
    <add name="DBMaster" connectionString="Application Name=SpecificationService;Data Source=10.92.21.225;Initial Catalog=COFIAusDB;User ID=cofidbusr;Password=cofi;Persist Security Info=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <ServiceConfiguration DBConnection="DBMaster"
                        TcpPort="7899"
                        />
                        <!-- ConcurrentSessions="100" -->
  
  
  <log
    maxFileSize="8192"
    msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}"
    logLevel="Debug"
    traceAttributeLogEnabled="false"
    logBaseName="Tamsa.Service.Specification"
    additionalLogDestination="Console"
  />
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
